<div
    class="macho_modal js-macho_modal"
    data-is-creation="<%= @macho_modal['is_creation_flg'] ? 1 : 0 %>"
>
    <div class="background">
        <div class="macho_contents">
            <p class="title">
                <%= @macho_modal['is_creation_flg'] ? 'これから勉強を頑張る' : '勉強を頑張った'%>
                <%= @macho_modal['user_name'] %>さんへ
                <br>
                <span>マッチョからの応援メッセージ 💙</span>
            </p>
            <div class="mainarea">
                <div class="textarea">
                <div class="balloon is_animated 'keyframe0'">
                    <div class="says"><p><%= @macho_modal['phrase'] %></p></div>
                </div>
                </div>
                <div class="mainimg">
                    <%= image_tag @macho_modal['path'], class:"keyframe animation" %>
                </div>
            </div>
            <div class="modal_exp_wrapper">
                <div class="modal_user_level">Lv.<span class="js-modal_user_level"><%= @user.exp / 100 + 1 %></span></div>
                <div id="exp_modal_container" data-current-exp="<%= @user.exp %>" data-old-exp="<%= @old_exp %>"></div>
            </div>
        </div>
    </div>
</div>